/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента

@import './utils/mixins';
@import './utils/variables';
@import './utils/global';
@import '../hamburgers/hamburgers';


@import './components/header';
@import './components/menu';
@import './components/hero';
@import './components/about-us';
@import './components/program';
@import './components/reviews';
@import './components/registration';
@import './components/contact';
@import './components/footer';