@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
:root {
  --main-text-color: #2e2520;
  --accent-text-color: #ab816c;
  --placeholder-text: rgba(171, 129, 108, 0.5);
  --decor-color: rgba(158, 96, 65, 0.5);
  --hover-color: #876655;
  --button-text-color: #ffffff;
  --main-bg-color: #ffffff;
  --secondary-bg-color: #fef3e4;
  --another-bg-color: #fffff9;
  --modal-bg-color: rgba(254, 243, 228, 0.9);
  --white-color: #ffffff;
  --black-color: #000000;
  --main-text-font: 'Montserrat', sans-serif;
  --secondary-text-font: 'Caveat Brush', monospace;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: var(--main-text-font);
}

@media (min-width: 1280px) {
  body {
    background-color: var(--another-bg-color);
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Добавил на всякий случай, вдруг понадобится  */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  max-width: 320px;
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* Размеры шрифта для всех секционных заголовков, у героя и карточек другие само собой */
.title {
  color: var(--main-text-color);
  font-family: var(--secondary-text-font);
  font-weight: 400;
  font-size: 24px;
  line-height: 2.7;
}

@media (min-width: 1280px) {
  .title {
    font-size: 36px;
    line-height: 1.8;
  }
}

.button {
  background-color: var(--accent-text-color);
  color: var(--button-text-color);
  font-family: var(--secondary-text-font);
  min-width: 140px;
  min-height: 40px;
  border: transparent;
  border-radius: 25px;
  cursor: pointer;
}

.button:hover, .button:focus {
  background-color: var(--hover-color);
}

.about-us-title {
  font-size: 24px;
  line-height: 2.7;
  text-align: center;
  font-family: var(--secondary-text-font);
}

@media (min-width: 768px) {
  .about-us-title {
    text-align: start;
  }
}

@media (min-width: 1280px) {
  .about-us-title {
    text-align: start;
    font-size: 36px;
    line-height: 1.8;
    margin-bottom: 10px;
  }
}

.about-us-text {
  font-size: 16px;
  line-height: 1.3;
  margin-bottom: 30px;
}

@media (min-width: 1280px) {
  .about-us-text:last-of-type {
    margin-bottom: 0;
  }
}

@media (max-width: 1279.98px) {
  .about-us-text--hidden {
    display: none;
  }
}

@media (min-width: 1280px) {
  .about-us-text {
    font-size: 18px;
    line-height: 1.2;
  }
}

.about-us-text.is-visible {
  display: block;
  margin-bottom: 30px;
}

.about-us-btn {
  font-family: var(--secondary-text-font);
  background-color: #fff;
  border: 0px;
  color: var(--accent-text-color);
  font-size: 18px;
  text-align: center;
  padding: 0;
}

@media (min-width: 1280px) {
  .about-us-btn {
    display: none;
  }
}

.about-us-btn .btn-text {
  display: none;
}

.about-us-btn .btn-text.is-shown {
  display: block;
}

@media (min-width: 768px) {
  .about-us-bloks {
    display: block;
    width: 336px;
  }
}

@media (min-width: 1280px) {
  .about-us-bloks {
    display: block;
    width: 365px;
    margin-left: 76px;
    margin-top: 55px;
  }
}

@media (min-width: 768px) {
  .about-us-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 768px) and (max-width: 1279.98px) {
  .about-us-image {
    margin-right: 25px;
    width: 329.65px;
    height: 352px;
  }
}

@media (min-width: 768px) {
  .program-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 50px;
    margin-left: 50px;
  }
}

@media (min-width: 1280px) {
  .program-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.program-title {
  text-align: center;
}

@media (min-width: 768px) {
  .program-title {
    text-align: start;
  }
}

@media (min-width: 768px) {
  .program-info {
    width: 392px;
  }
}

.program-text {
  font-size: 16px;
  line-height: 1.3;
  margin-bottom: 10px;
}

@media (min-width: 1280px) {
  .program-text {
    font-size: 18px;
    line-height: 1.2;
  }
}

.program-item {
  font-size: 16px;
  line-height: 1.3;
  margin-bottom: 10px;
}

.program-item:last-child {
  margin-bottom: 0;
}

@media (min-width: 1280px) {
  .program-item {
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 15px;
  }
  .program-item:last-child {
    margin-bottom: 0;
  }
}

.program-hidden-text {
  font-size: 16px;
  line-height: 1.3;
  margin-top: 10px;
  display: none;
}

@media (min-width: 1280px) {
  .program-hidden-text {
    font-size: 18px;
    line-height: 1.2;
    display: block;
  }
}

.program-btn {
  font-family: var(--secondary-text-font);
  background-color: #fff;
  border: 0px;
  color: var(--accent-text-color);
  font-size: 18px;
  line-height: 3.6;
  text-align: center;
  margin-bottom: 34px;
}

@media (min-width: 768px) {
  .event-box {
    max-width: 300px;
    margin-left: 38px;
  }
}

@media (min-width: 1280px) {
  .event-box {
    min-width: 392px;
    margin-left: 40px;
  }
}

.event-box-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 768px) {
  .event-box-list {
    margin-top: 35px;
  }
}

.event-box-item {
  position: relative;
  padding: 50px 13px 40px 13px;
  width: 142px;
  height: 142px;
  background-color: #FEF3E4;
  border-radius: 50%;
  -webkit-box-shadow: 0px 4px 4px rgba(171, 129, 108, 0.25);
          box-shadow: 0px 4px 4px rgba(171, 129, 108, 0.25);
}

.event-box-item:nth-child(2n) {
  margin-top: 57px;
  margin-left: 5px;
}

@media (min-width: 768px) {
  .event-box-item {
    margin-left: auto;
  }
  .event-box-item:nth-child(2n) {
    margin-left: 15px;
  }
}

@media (min-width: 1280px) {
  .event-box-item {
    margin-left: auto;
    width: 180px;
    height: 180px;
    padding-top: 63px;
  }
  .event-box-item:nth-child(2n) {
    margin-left: 32px;
    margin-top: 60px;
  }
}

.event-box-img {
  position: absolute;
  top: -34px;
  left: 50%;
  bottom: 92px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.event-box-title {
  font-family: var(--secondary-text-font);
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
  color: #000000;
  margin-bottom: 13px;
}

@media (min-width: 1280px) {
  .event-box-title {
    font-size: 24px;
  }
}

.event-box-text {
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  color: #000000;
}

@media (min-width: 1280px) {
  .event-box-text {
    font-size: 16px;
  }
}

.event-box-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 13px;
}

@media (min-width: 1280px) {
  .event-box-icon {
    margin-top: 17px;
  }
}

.reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  padding-top: 25.39px;
}

@media (min-width: 320px) {
  .reviews-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url(../images/reviews/bg-sm.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (min-width: 768px) {
  .reviews-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-size: cover;
    background-image: url(../images/reviews/bg-md.png);
  }
}

@media (min-width: 1280px) {
  .reviews-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-size: cover;
    background-image: url(../images/reviews/bg-lg.png);
  }
}

.reviews-title {
  font-family: Caveat Brush;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 2.71;
  text-align: center;
}

@media (min-width: 768px) {
  .reviews-title {
    font-size: 24px;
    line-height: 2.71;
    padding-top: 0px;
    margin-bottom: 10px;
  }
}

@media (min-width: 1280px) {
  .reviews-title {
    font-size: 36px;
    line-height: 1.8;
    padding-top: 0px;
    margin-bottom: 24px;
  }
}

.reviews-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 6px;
}

.reviews-depiction1 {
  width: 110px;
  height: 110px;
}

@media screen and (max-width: 327px) {
  .reviews-depiction1 {
    display: none;
  }
}

@media (min-width: 320px) {
  .reviews-depiction1 {
    display: none;
  }
}

@media (min-width: 768px) {
  .reviews-depiction1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 110px;
    height: 110px;
    margin-right: 46.15px;
  }
}

@media (min-width: 1280px) {
  .reviews-depiction1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 136px;
    height: 136px;
    margin-right: 54px;
  }
}

.reviews-depiction2 {
  width: 110px;
  height: 110px;
}

@media (min-width: 768px) {
  .reviews-depiction2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 186px;
    height: 186px;
    margin-right: 46.15px;
  }
}

@media (min-width: 1280px) {
  .reviews-depiction2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 234px;
    height: 234px;
    margin-right: 54px;
  }
}

.reviews-depiction3 {
  width: 110px;
  height: 110px;
}

@media screen and (max-width: 327px) {
  .reviews-depiction3 {
    display: none;
  }
}

@media (min-width: 320px) {
  .reviews-depiction3 {
    display: none;
  }
}

@media (min-width: 768px) {
  .reviews-depiction3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 110px;
    height: 110px;
  }
}

@media (min-width: 1280px) {
  .reviews-depiction3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 136px;
    height: 136px;
  }
}

.reviews-block {
  display: inline-block;
}

.reviews-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: -15px;
}

.reviews-item {
  margin-right: 4px;
}

.reviews-item:last-child {
  margin-right: 0px;
}

.star-icon {
  width: 24px;
  height: 24px;
  fill: #ab816c;
}

.reviews-subtitle {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  line-height: 4.64;
  width: 28px;
  height: 45px;
  text-align: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-right: auto;
  margin-left: auto;
}

.reviews-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  margin-bottom: 35px;
  color: #2e2520;
}

@media (min-width: 768px) {
  .reviews-text {
    margin-right: 71px;
    margin-left: 76px;
    text-align: center;
    font-size: 16px;
    line-height: 1.25;
  }
}

@media (min-width: 1280px) {
  .reviews-text {
    margin-right: 327px;
    margin-left: 327px;
    text-align: center;
    font-size: 18px;
    line-height: 1.22;
  }
}

.slider-text::before {
  display: inline-block;
  width: 60px;
  height: 1px;
  content: '';
  margin-right: 20px;
  background-color: var(--btn-txt-cl);
}

.registration {
  text-align: center;
}

@media (min-width: 768px) {
  .registration .container {
    background-image: url(../images/reviews/donut-md.png), url(../images/reviews/confetti-md.png);
    background-repeat: no-repeat;
    background-size: 250px;
    background-position: top left, right -15px top 65px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-moz-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .registration .container {
    background-image: url(../images/reviews/donut@2-md.png), url(../images/reviews/confetti@2-md.png);
  }
}

@media (min-width: 1280px) {
  .registration .container {
    background-image: url(../images/reviews/donut-lg.png);
    background-size: 250px;
    background-position: top left 40px;
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-moz-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .registration .container {
    background-image: url(../images/reviews/donut@2-lg.png);
  }
}

.registration__title {
  display: none;
}

@media (min-width: 768px) {
  .registration__title {
    display: block;
  }
}

.registration-wrapper {
  background-color: var(--main-bg-color);
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 47px;
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
  -webkit-box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
          box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
}

@media (min-width: 768px) {
  .registration-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 150px;
    max-width: 634px;
    padding: 35px 0;
  }
}

@media (min-width: 1280px) {
  .registration-wrapper {
    max-width: 822px;
  }
}

.registration-header {
  padding-bottom: 20px;
  margin-bottom: 11px;
  border-bottom: 1px solid rgba(158, 96, 65, 0.5);
}

@media (min-width: 768px) {
  .registration-header {
    border: 0;
    padding: 20px 0;
    margin: 0;
    text-align: end;
    border-right: 1px solid rgba(158, 96, 65, 0.5);
    margin-right: 30px;
    padding-right: 30px;
  }
}

.registration-header__title {
  margin-bottom: 11px;
}

@media (min-width: 768px) {
  .registration-header__title {
    display: none;
  }
}

.registration-header__subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  margin-bottom: 25px;
}

@media (min-width: 768px) {
  .registration-header__subtitle {
    margin-bottom: 37px;
  }
}

.registration-header__datatime {
  display: block;
}

.registration-header__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
}

@media (min-width: 768px) {
  .registration-footer {
    padding: 20px 0;
  }
}

@media (min-width: 768px) {
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.form__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .form__header {
    margin-right: 25px;
    text-align: start;
    max-width: 234px;
  }
}

@media (min-width: 1280px) {
  .form__header {
    margin-right: 38px;
  }
}

.form__label {
  display: block;
  font-size: 16px;
  line-height: 1.25;
}

.form__label-registration {
  margin-bottom: 15px;
}

@media (min-width: 1280px) {
  .form__label-registration {
    margin-bottom: 13px;
  }
}

.form__input {
  background-color: transparent;
  outline: transparent;
  width: 100%;
  border: 1px solid transparent;
  border-bottom: 1px solid var(--accent-text-color);
  margin-bottom: 25px;
}

.form__input:invalid {
  border: 1px solid #d43737;
}

.form__input::-webkit-input-placeholder {
  color: var(--placeholder-text);
}

.form__input:-ms-input-placeholder {
  color: var(--placeholder-text);
}

.form__input::-ms-input-placeholder {
  color: var(--placeholder-text);
}

.form__input::placeholder {
  color: var(--placeholder-text);
}

@media (min-width: 768px) {
  .form__input {
    margin-bottom: 15px;
  }
}

.form__input-lastchild {
  margin-bottom: 37px;
}

@media (min-width: 768px) {
  .form__input-lastchild {
    margin-bottom: 0;
  }
}

.contacts {
  text-align: center;
}

.contacts-wrapper {
  padding-bottom: 47 px;
  width: 265 px;
}

@media (min-width: 768px) {
  .contacts-wrapper {
    padding-bottom: 50 px;
  }
}

@media (min-width: 1280px) {
  .contacts-wrapper {
    width: 430px;
    padding-bottom: 82 px;
  }
}

.contacts__header {
  font-family: var(--secondary-text-font);
  padding-top: 27px;
  padding-bottom: 35 px;
  margin-bottom: 12px;
}

@media (min-width: 768px) {
  .contacts__header {
    display: block;
    padding-top: 51px;
  }
}

@media (min-width: 1280px) {
  .contacts__header {
    display: block;
    padding-top: 77px;
    padding-bottom: 50 px;
  }
}

.button {
  width: 145px;
  height: 40px;
}

@media (min-width: 1280px) {
  .button {
    width: 158px;
    height: 45px;
  }
}

.form-contacts__label {
  display: block;
  font-size: 16px;
  line-height: 1.25;
}

.form-contacts__label-contacts {
  margin-bottom: 22px;
  text-align: center;
}

.form-contacts__input {
  background-color: transparent;
  width: 100%;
  border: 0;
  border-bottom: 1px solid var(--accent-text-color);
  margin-bottom: 25px;
}

.form-contacts__input::-webkit-input-placeholder {
  color: var(--placeholder-text);
}

.form-contacts__input:-ms-input-placeholder {
  color: var(--placeholder-text);
}

.form-contacts__input::-ms-input-placeholder {
  color: var(--placeholder-text);
}

.form-contacts__input::placeholder {
  color: var(--placeholder-text);
}

.form-contacts__input-lastchild {
  margin-bottom: 37px;
}

@media screen and (max-width: 767px) {
  .container {
    width: 320px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1200px;
  }
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: var(--main-text-color);
}

.footer {
  color: var(--main-text-color);
  background-image: url(../images/reviews/flour-sm.png);
  background-size: 87px 64px;
  background-repeat: no-repeat;
  background-position: bottom 0 right 0;
}

.footer-container {
  display: block;
  padding-top: 47px;
  padding-bottom: 19px;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 35px;
}

@media screen and (min-width: 1280px) {
  .footer-social {
    margin-bottom: 51px;
  }
}

.footer-social__item:not(:last-child) {
  margin-right: 9px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer-social__item:not(:last-child) {
    margin-right: 9.5px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-social__item:not(:last-child) {
    margin-right: 12px;
  }
}

.footer-social__link:hover, .footer-social__link:focus {
  color: var(--hover-color);
}

.footer-social__icon {
  fill: currentColor;
}

@media screen and (min-width: 1280px) {
  .footer-social .footer-social__icon--tw {
    width: 24px;
    height: 19px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-social .footer-social__icon--in {
    width: 19px;
    height: 19px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-social .footer-social__icon--fac {
    width: 10.27px;
    height: 19px;
  }
}

.footer-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.footer-contacts__link {
  font-family: var(--main-text-font);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main-text-color);
}

.footer-contacts__link:hover, .footer-contacts__link:focus {
  color: var(--hover-color);
}

.footer-contacts__icon {
  fill: currentColor;
}
/*# sourceMappingURL=main.css.map */