:root {
    --main-text-color: #2E2520;
    --accent-text-color: #AB816C;
    --main-bg-color: #ffffff;
    --secondary-bg-color: #FEF3E4;
    --white-color: #ffffff;
    --black-color: #000000;
    --placeholder-text: rgba(171, 129, 108, 0.5);

    --main-text-font: 'Montserrat', sans-serif;
    --secondary-text-font: 'Caveat Brush', monospace;
    

}