:root {
    --main-text-color: #2E2520;
    --accent-text-color: #AB816C;
    --bg-color: #FEF3E4;
    --white-color: #ffffff;
    --black-color: #000000;

    --main-text-font: 'Montserrat', sans-serif;
    --secondary-text-font: 'Caveat Brush', monospace;
    

}