:root {
    --main-text-color: #2E2520;
    --accent-text-color: #AB816C;
<<<<<<< Updated upstream
    --bg-color: #FEF3E4;
    --white-color: #ffffff;
    --black-color: #000000;
=======
    --placeholder-text: rgba(171, 129, 108, 0.5);
    --hover-color: #876655;
    --button-text-color: #ffffff;
    --main-bg-color: #ffffff;
    --secondary-bg-color: #FEF3E4;
    --modal-bg-color: rgba(254, 243, 228, 0.9);
    --white-color: #ffffff;
    --black-color: #000000;

>>>>>>> Stashed changes

    --main-text-font: 'Montserrat', sans-serif;
    --secondary-text-font: 'Caveat Brush', monospace;
    

}