<section class="contacts" id="contact">

  <div class="contacts-wrapper container">

    <h2 class="contacts__title title">Contact </h2>

    <form class="form-contacts">
      <label class="form-contacts__label form-contacts__label-contacts" for="question">We will answer any question!
      </label>

      <div class="form-contacts__input-wrapper">
        <input class="form-contacts__input form-contacts__input-email" type="email" name="email"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="Email">
        <span class="form-contacts__input-helper"> * mymail@gmail.com</span>
      </div>

      <input class="form-contacts__input form-contacts__input-text  type=" text" name="text"
        placeholder="Type your question" />


    </form>
    <button class="form-contacts__button button " type="send">Send</button>
  </div>

</section>