

<section class="contacts ">

  <div class="contacts-wrapper container">

    <h2 class="contacts__header">Contact </h2>

    <form class="form-contacts">
      <label class="form-contacts__label " for="question">We will answer any question! </label>

      <input class="form-contacts__input form-contacts__input-email" type="email" name="email" placeholder="Email">
     
      <input class="form-contacts__input form-contacts__input-text form-contacts__input-lastchild" type="text" name="text" placeholder="Type your question" />
     
      <button class="form-contacts__button button " type="send" >Send</button>
    </form>
  </div>

</section>