

<section class="contacts ">

  <div class="contacts-wrapper container">

    <h2 class="contacts-header__title title">Contact </h2>

    <form class="form">
      <label class="form__label form__label-contacts" for="question">We will answer any question! </label>

      <input class="form__input form__input-email" type="email" name="email" placeholder="Email">
     
      <input class="form__input form__input-text form__input-lastchild" type="text" name="text" placeholder="Type your question" />
     
      <button class="form__button button " type="send" >Send</button>
    </form>
  </div>

</section>