<section class="registration">
    <div class="container">
        <div class="registration-header">
            <h2 class="registration-header__title title">Registration</h2>
            <p class="registration-header__subtitle">
                <time class="registration-header__datatime" datatime='2021-05-23T11:00'>May 23, 11:00</time>
                New York
            </p>
            <p class="registration-header__text">
                &#65284; 699
            </p>
        </div>
        <div class="registration-footer">
            <form class="form">
                <label class="form__label form__label-registration" for="username">Apply your personal info
                    for registration </label>
                <input class="form__input form__input-username"  type="text" name="username" id="username" placeholder="Your name">
                <input class="form__input form__input-telephone" type="tel" name="telephone-number" placeholder="Phone number">
                <input class="form__input form__input-email form__input-lastchild" type="email" name="email" placeholder="Email">
                <button class="form__button button" type="submit">Register</button>
            </form>
        </div>
    </div>
</section>