<section class="reviews" id="reviews">
  <div class="container">
    <h3 class="reviews__title">Reviews</h3>
    <!--  -->
      <picture>
        <source
        media="(min-width: 1200px)"
        srcset="./images/reviews/will-lg.png 1x, ./images/reviews/will@2-lg.png 2x">
        <source
        media="(min-width: 768px)"
        srcset="./images/reviews/will-md.png 1x, ./images/reviews/will@2-md.png 2x">
        <img class="image"              
        srcset="./images/reviews/will-sm.png 1x, ./images/reviews/will@2-sm.png 2x"
        src="./images/reviews/will-sm.png"
        alt="Wlill"
        width="110"
        loading="lazy">
      </picture>
         <a class="masters-social-link" href="">
          <svg class="star-icon" width="24" height="24">
            <use href=./images/sprite/icons.svg##icon-star></use>
          </svg>
        </a>
    <!-- <img class="reviews-img" src="" alt="" width="" height=""/> -->
    <!-- <img class="reviews-img" src="" alt="" width="" height=""/> -->
    <p class="reviews__subtitle">Will</p>
    <p class="reviews__text">
      Last time I have visited a cooking course by Eva I was impressed with the way she explained
      everything to people. You can be sure you will manage to cook a delicious dish even if it is
      your first time in the kitchen! Thank you so much for the masterclass! Looking forward to the
      next one and highly recommend it to everyone!
    </p>
    <p clas="2"></p>
    <div class="">
      <button class="" type="button"></button>
      <button class="active" type="button"></button>
    </div>
  </div>
</section>
