<section class="reviews" id="reviews">
  <div class="container">
    <h3 class="reviews__title">Reviews</h3>
    <!--  -->
    <svg class="">
      <img class="reviews-img" src="" alt="" width="116" height="146" />
    </svg>
    <!-- <img class="reviews-img" src="" alt="" width="" height=""/> -->
    <!-- <img class="reviews-img" src="" alt="" width="" height=""/> -->
    <p class="reviews__subtitle">Will</p>
    <p class="reviews__text">
      Last time I have visited a cooking course by Eva I was impressed with the way she explained
      everything to people. You can be sure you will manage to cook a delicious dish even if it is
      your first time in the kitchen! Thank you so much for the masterclass! Looking forward to the
      next one and highly recommend it to everyone!
    </p>
    <p clas="2"></p>
    <div class="">
      <button class="" type="button"></button>
      <button class="active" type="button"></button>
    </div>
  </div>
</section>
