.contacts {
  padding-top: 15px;
  padding-bottom: 47px;
  text-align: center;
}

.contacts-wrapper {
  padding-top: 15px;
  padding-bottom: 47px;
}
&__header {
  font-family: var(--secondary-text-font);
  padding-bottom: 20px;
  margin-bottom: 11px;

  &__title {
    
    display: none;
    @include mq(tablet) {
    display: block;
    }

    @include mq(desktop) {
     display: block;
    }
    // margin-bottom: 11px;
  }
}

.form-contacts {
  &__label {
    display: block;
    font-size: 16px;
    line-height: 1.25;
  }

  &__label-contacts {
    margin-bottom: 15px;
  }

  &__input {
    background-color: transparent;
    width: 100%;
    border: 0;
    border-bottom: 1px solid var(--accent-text-color);
    margin-bottom: 25px;

    &::placeholder {
      color: var(--placeholder-text);
    }
  }

  &__input-lastchild {
    margin-bottom: 37px;
  }
}
