.contacts {
  text-align: center;
}

.contacts-wrapper {
  padding-top: 27px;

  @include mq(tablet) {
    padding-top: 51px;
  }
  @include mq(desktop) {
    padding-top: 77px;
  }
}

.contacts__header {
  font-family: var(--secondary-text-font);
  // display: none;

  @include mq(tablet) {
    display: block;
  }

  @include mq(desktop) {
    display: block;
  }
}

.button {
  margin-top: 37px;
  width: 145px;
  height: 40px;

  @include mq(tablet) {
    margin-top: 27px;
  }

  @include mq(desktop) {
    margin-top: 27px;
    width: 158px;
    height: 45px;
  }
}
.form-contacts {
  &__input-text {
    margin-top: 25px;
  }
  width: 100%;
  &__label {
    display: block;
    font-size: 16px;
    line-height: 1.25;
  }

  &__label-contacts {
    padding-bottom: 35px;
    padding-top: 35px;
    text-align: center;
  }
  @include mq(desktop) {
    padding-top: 50px;
    padding-bottom: 50 px;
  }

  &__input {
    background-color: transparent;
    width: 265px;
    border: 0;
    border-bottom: 1px solid var(--accent-text-color);

    &::placeholder {
      color: var(--placeholder-text);
    }
  }
}
