.header {
    background: aquamarine;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header-logo {
    width: 96px;
    height: 43px;
    margin-left: 50%;
    transform: translate(-50%, 0);
    margin-right: auto;
}

.menu-button {
z-index: 4;

@include mq(desktop) {
    display: none;
}
}