.header-menu {
    background-color: var(--modal-bg-color);
    position: fixed;
    width: 100%;
    height: 101%;
    z-index: 3;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    backdrop-filter: blur(4px);
    visibility: hidden;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
                visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    @include mq(desktop) {
      display: none;
    }
  }
  
  .is-open {
    visibility: visible;
    opacity: 1;
  }

  .menu-logo {
    width: 190px;
    height: 85px;
    margin-top: 25px;
    margin-bottom: 40px;
  }

  .menu-item {
    margin-bottom: 45px;
    &:last-child {
        margin-bottom: 0;
    }
  }

  .menu-link {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.20;

    &:hover {
        color: var(--hover-color);
    }
  }