.reviews {
  position: relative;
}

.reviews-title {
  font-family: Caveat Brush;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 0.75;
  text-align: center;
  margin-bottom: 15px;
  @include mq(modile) {
    margin-bottom: 0;
  }
  @include mq(tablet) {
    margin-bottom: 10px;
  }
  @include mq(desktop) {
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 0.7;
  }
}

.reviews__container {
  text-align: center;
  max-width: 625px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 60px;
  @media screen and (min-width: 1279.98px) {
    padding-bottom: 80px;
  }
  @media screen and (max-width: 767.98px) {
    padding-bottom: 30px;
  }
}

.container {
  max-width: 630px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  @media screen and (min-width: 320px) {
    .container-reviews {
      padding: 0;
    }
  }

  @media screen and (min-width: 768px) {
    padding-bottom: 40px;
  }

  @media screen and (min-width: 1280px) {
    padding-bottom: 68px;
  }
}

.slider__items {
  text-align: center;
  width: 230px;
  transform: scale(0.7);
  transition: transform 300ms;
}

.slick-current {
  transform: scale(1);
}

.reviews__number {
  margin-left: auto;
  margin-right: auto;
}

.reviews__text {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main-text-color);

  @media screen and (min-width: 630px) {
    padding: 0;
  }

  @include mq(tablet) {
  }

  @include mq(desktop) {
    font-size: 18px;
    line-height: 1.22;
  }
}

.slick-slide {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.slider__pictures {
  display: flex;
  justify-content: center;
}

.container-reviews__img {
  max-width: 110px;

  @include mq(tablet) {
    max-width: 110px;
  }
  @include mq(desktop) {
    max-width: 186px;
  }
}

.reviews__name {
  display: block;
  font-family: var(--main-font);
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  line-height: 2.64;
  text-align: center;
  color: var(--main-text-color);
  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}

// .container.reviews-box {
//   position: absolute;
//   top: 0;
//   left: 0;
//   z-index: -100;
//   width: 100%;
//   height: 1040px;
//   background-size: 100% 461px;
//   background-repeat: no-repeat;
//   background-image: url(../images/reviews/bg-sm.png);

//   @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
//     background-image: url(../images/reviews/bg@2-sm.png);
//   }

//   @media screen and (min-width: 768px) {
//     height: 1040px;
//     background-size: 100% 622px;
//     background-image: url(../images/reviews/bg-md.png);

//     @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
//       background-image: url(../images/reviews/bg@2-md.png);
//     }
//   }

//   @media screen and (min-width: 1280px) {
//     height: 1040px;
//     background-size: 100% 1036px;
//     background-image: url(../images/reviews/bg-lg.png);

//     @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
//       background-image: url(../images/reviews/bg@2-lg.png);
//     }
//   }
// }

// .reviews-container {
//   @include mq(mobile) {
//     justify-content: center;
//     align-items: center;
//     background-image: url(../images/reviews/bg-sm.png);
//     background-repeat: no-repeat;
//     background-size: cover;
//   }

//   @include mq(tablet) {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     background-size: cover;
//     background-image: url(../images/reviews/bg-md.png);
//   }

//   @include mq(desktop) {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     background-size: cover;
//     background-image: url(../images/reviews/bg-lg.png);
//   }
// }

// .reviews-title {
//   font-family: Caveat Brush;
//   font-style: normal;
//   font-weight: normal;
//   font-size: 24px;
//   line-height: 2.71;
//   text-align: center;

//   @include mq(tablet) {
//     font-size: 24px;
//     line-height: 2.71;
//     padding-top: 0px;
//     margin-bottom: 10px;
//   }
//   @include mq(desktop) {
//     font-size: 36px;
//     line-height: 1.8;
//     padding-top: 0px;
//     margin-bottom: 24px;
//   }
// }

// .reviews-images {
//   display: flex;
//   justify-content: center;
//   text-align: center;
//   margin-right: auto;
//   margin-left: auto;
//   margin-bottom: 6px;
// }

// .reviews-depiction1 {
//   width: 110px;
//   height: 110px;
//   @media screen and (max-width: 327px) {
//     display: none;
//   }

//   @include mq(mobile) {
//     display: none;
//   }
//   @include mq(tablet) {
//     display: flex;
//     width: 110px;
//     height: 110px;
//     margin-right: 46.15px;
//   }
//   @include mq(desktop) {
//     display: flex;
//     width: 136px;
//     height: 136px;
//     margin-right: 54px;
//   }
// }

// .reviews-depiction2 {
//   width: 110px;
//   height: 110px;

//   @include mq(tablet) {
//     display: flex;
//     width: 186px;
//     height: 186px;
//     margin-right: 46.15px;
//   }
//   @include mq(desktop) {
//     display: flex;
//     width: 234px;
//     height: 234px;
//     margin-right: 54px;
//   }
// }

// .reviews-depiction3 {
//   width: 110px;
//   height: 110px;

//   @media screen and (max-width: 327px) {
//     display: none;
//   }
//   @include mq(mobile) {
//     display: none;
//   }
//   @include mq(tablet) {
//     display: flex;
//     width: 110px;
//     height: 110px;
//   }
//   @include mq(desktop) {
//     display: flex;
//     width: 136px;
//     height: 136px;
//   }
// }

// .reviews-block {
//   display: inline-block;
// }

// .reviews-list {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin-bottom: -15px;
// }

// .reviews-item {
//   margin-right: 4px;

//   &:last-child {
//     margin-right: 0px;
//   }
// }

// .star-icon {
//   width: 24px;
//   height: 24px;
//   fill: #ab816c;
// }

// // .reviews-item:last-child {
// //   fill-opacity: -2;
// //   stroke-width: 1px;
// //   stroke: #ab816c;
// // }

// .reviews-subtitle {
//   font-family: Montserrat;
//   font-style: italic;
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 4.64;
//   width: 28px;
//   height: 45px;
//   text-align: center;
//   align-items: flex-start;
//   margin-right: auto;
//   margin-left: auto;
// }

// .reviews-text {
//   display: flex;
//   justify-content: center;
//   align-items: flex-start;
//   font-family: Montserrat;
//   font-style: normal;
//   font-weight: normal;
//   font-size: 16px;
//   line-height: 1.25;
//   text-align: center;
//   margin-bottom: 35px;
//   color: #2e2520;

//   @include mq(tablet) {
//     margin-right: 71px;
//     margin-left: 76px;
//     text-align: center;
//     font-size: 16px;
//     line-height: 1.25;
//   }

//   @include mq(desktop) {
//     margin-right: 327px;
//     margin-left: 327px;
//     text-align: center;
//     font-size: 18px;
//     line-height: 1.22;
//   }
// }

// .slider-text::before {
//   display: inline-block;
//   width: 60px;
//   height: 1px;
//   content: '';
//   margin-right: 20px;
//   background-color: var(--btn-txt-cl);
// }
